<div ng-controller="formController" Style =" padding :20px">

<div id="messages" ng-show="message">{{message}}</div> 
 
  <!-- Form Section-->
<form role="form" name="userForm"  ng-submit="processForm(userForm.$valid)" novalidate="">
  
 <!-- User Name --> 
 
 
 
  <!-- Post Text -->
 <div class="form-group" ng-class="{'has-error' : userForm.postText.$invalid && !userForm.postText.$pristine && submitted}" >
            <label>Post Text :</label>
            <input type="text" name="text" class="form-control" placeholder="Bruce Wayne" ng-model="posting.text" ng-minlength="3" ng-maxlength="8" ng-required="true">
       <p ng-show ="userForm.text.$error.minlength && submitted" class="help-block">post is too short.</p>
       <p ng-show ="userForm.text.$error.maxlength && submitted" class="help-block">post is too long.</p>
       
  </div>
  <div><p>{{responseDatatext}}</p></div>
  <br></br>
  <!-- SUBMIT BUTTON -->
  <div>
  <button type="submit" class="btn btn-primary btn-md">
     Submit!</button>   <br></br> 
</div>




 
  
</form>
<br></br>


</div>

