<div ng-controller="formController" Style =" padding :20px">

<div id="messages" ng-show="message">{{message}}</div> 
 
  <!-- Form Section-->
<form role="form" name="userForm"   ng-submit="processForm(userForm.$valid)" novalidate="">
  
 <!-- User Name --> 
 
 
 
  <!-- Post Text -->
 <div class="form-group" ng-class="{'has-error' : userForm.postText.$invalid && !userForm.postText.$pristine && submitted}" >
            <label>Post Text :</label>
            <input type="text" name="postText" class="form-control" placeholder="Bruce Wayne" ng-model="posting.postText" ng-minlength="3" ng-maxlength="8" ng-required="true">
       <p ng-show ="userForm.postText.$error.minlength && submitted" class="help-block">post is too short.</p>
       <p ng-show ="userForm.postText.$error.maxlength && submitted" class="help-block">post is too long.</p>
       <p ng-show="userForm.postText.$invalid && !userForm.username.$pristine && submitted" class="help-block">Please send a text to server</p>
  </div>
  <br></br>
  <!-- SUBMIT BUTTON -->
  <div>
  <button type="submit" class="btn btn-primary btn-md">
     Submit!</button>   <br></br> 
</div>

<div><p>{{responseDatatext}}</p></div>


 
  
</form>
<br></br>
<div>
<div  ng-repeat="x in arrayOfCars">  
<div ng-if="x.id !== null"  > 
<div style =" border-radius:5px; padding: 15px; background-color: #336699 ">
<p>{{x.project}}</p> 
<p>{{x.id}}</p>
</div><br></br>
</div>
<div  ng-if="x.id == null" > 
<div style =" border-radius: 5px; padding: 15px; background-color: #336699 ">
<p>{{x.project}}</p>
 <form role="form" ng-submit="processUpdate(userForm.$valid)" novalidate>
     <div class="form-group" ng-class="{'has-error' : updateForm.replyText.$invalid && !updateForm.replyText.$pristine && submitted}" >
            <label>Post Text :</label>
            <input type="text" name="replyText" class="form-control" placeholder="Bruce Wayne" ng-model="userTextRep.replyText" ng-minlength="3" ng-maxlength="8" ng-required="true">
       <p ng-show ="updateForm.replyText.$error.minlength && submitted" class="help-block">Username is too short.</p>
       <p ng-show ="updateForm.replyText.$error.maxlength && submitted" class="help-block">Username is too long.</p>
       <p ng-show="updateForm.replyText.$invalid && !updateForm.replyText.$pristine && submitted" class="help-block">Please send a text to server</p>       
</div>
     <button type="submit" class="btn-xs">
    <span class="glyphicon glyphicon-flash"></span> Submit!</button>
  </form>
  </div><br></br>
</div>

</div>

</div>

<br></br>
<p>{{longitude}}</p>
<p>{{latitude}}</p>
<p>{{queryError}}</p>
<p>{{responseData}}</p>
<p>{{FullResponse}}</p>
<p>{{dataPassedAsString}}</p>
<p>{{errorName}}</p>
<p>{{dataChanged}}</p>

</div>

